<h2 class="row align-middle justify-content-center gy-3">Applet Debug Server</h2>
<div class="row justify-content-center gy-4 gx-3 m-2">
  <!-- <ui-input
    class="col-3 align-middle"
    placeholder="Enter custom build url."
    show-clear
    ref="customUrl"
    @confirm="onCustomUrlInput"
  /> -->
  <ui-label class="col-3 align-middle" value="Build" />
  <ui-select
    v-if="options.length > 0"
    class="col-9"
    placeholder="Choose..."
    ref="buildSelect"
    @confirm="onBuildSelect"
  >
    <option v-for="option in options" v-bind:value="option.value">{{ option.name }}</option>
  </ui-select>
  <ui-label v-if="options.length <= 0" class="align-middle text-warning text-wrap">
    No builds configured for the project.
  </ui-label>
</div>
<ui-button v-if="isBuildSelected" class="row justify-content-center m-2" @confirm="onStartServer">
  Start server
</ui-button>
<ui-link v-if="isServerValid" class="row justify-content-center m-2">{{ serverLink }}</ui-link>
<ui-button v-if="isServerValid" class="row justify-content-center m-2" @confirm="onOpenPreview1">
  Open preview 1
</ui-button>
<ui-button v-if="isServerValid" class="row justify-content-center m-2" @confirm="onOpenPreview2">
  Open preview 2
</ui-button>
